
button{
    font-family:"helvetica neue",helvetica, sans-serif;
    letter-spacing:1px;
    text-transform: uppercase;
    text-align: center;
    border: 2px solid rgba(143, 194, 218, 0.6);
    background-color: rgba(173, 223, 223, 0.6);
    color: rgb(4, 16, 49);
    box-shadow: 1px 1px 2px rgb(0 0 200/0.4);
    border-radius: 10px;
    padding: 3px 10px;
    cursor: pointer;
}